/* label{
    margin-top: 10px;
}
.form-check-input{
    margin-top: 14px;
} */
.margin1{
    margin-bottom: 10px;
}
.heading{text-align: center;
background-color: black;
color: white;
padding: 20px;}
.padding12{
    padding: 5px;
}
.suboptions{
    margin-left: 30px;
}